.querySelector {
    width: 635px;
    padding: 10px;
}

.querySelector .allQueries {
    display: flex;
    padding: 5px;
}

.querySelector .allQueries .where {
    width: 60px;
}

.row {
    display: flex;
    margin-bottom: 18px;
}

.row>* {
    margin: 0 6px;
}

.applyBtn, .saveBtn {
    float: right;
}

.btn {
    cursor: pointer;
    padding: 10px;
    width: fit-content;
}

.removeBtn {
    line-height: 15px;
    color: red;
    font-weight: bold;
}

.addBtn,
.applyBtn,
.saveBtn ,
.clearAll {
    background-color: teal;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.saveBtn.disabled {
    color: lightgrey;
}

.applyBtn {
    background-color: rgb(14, 123, 42);
    margin-left: 10px;
}

.saveBtn {
    margin-left: 3px;
}
.clearAll {
    background-color: #cb0000;
    margin-left: 10px;
}
.lhs {
    width: 150px;
}

.operator {
    width: 160px;
}

.rhs {
    width: 251px;
}
.queryNameInputContainer {
    display: inline-flex;
    float: right;
}
